.main-layout {
  min-height: 100vh;
  padding-top: 64px;
  padding-left: 200px;
  font-weight: 500;
  header {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
  }

  .main-layout {
    height: 100%;
    border-right: 0;
  }
  .sidebar {
    background-color: white;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
